[submodule "clients/apple"]
	path = clients/apple
	url = https://github.com/SagerNet/sing-box-for-apple.git
[submodule "clients/android"]
	path = clients/android
	url = https://github.com/SagerNet/sing-box-for-android.git
[submodule "clients/desktop"]
	path = clients/desktop
	url = https://github.com/SagerNet/sing-box-for-desktop.git
[submodule "submodules/wireguard-go"]
	path = submodules/wireguard-go
	url = https://github.com/Leadaxe/wireguard-go-awg2-lx
	branch = lx-awg2-v005
[submodule "submodules/sing-tun"]
	path = submodules/sing-tun
	url = https://github.com/Leadaxe/sing-tun-lx
	branch = lx
[submodule "submodules/gvisor"]
	path = submodules/gvisor
	url = https://github.com/Leadaxe/gvisor-lx
	branch = lx
[submodule "submodules/utls"]
	path = submodules/utls
	url = https://github.com/Leadaxe/utls-lx
	branch = lx
